{% extends 'students/base_students.html' %}

{% block student_content %}
<h1>학생 등록</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-group">
        <label for="id_name">이름:</label>
        {{ form.name }}
        {% if form.name.errors %}
            {% for error in form.name.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="form-group">
        <label for="id_school">학교:</label>
        {{ form.school }}
        {% if form.school.errors %}
            {% for error in form.school.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="form-group">
        <label for="id_grade">학년:</label>
        {{ form.grade }}
        {% if form.grade.errors %}
            {% for error in form.grade.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="form-group">
        <label for="id_phone_number">학생 전화번호:</label>
        {{ form.phone_number }}
        {% if form.phone_number.errors %}
            {% for error in form.phone_number.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="form-group">
        <label for="id_email">이메일 주소:</label>
        {{ form.email }}
        {% if form.email.errors %}
            {% for error in form.email.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="form-group">
        <label for="id_gender">성별:</label>
        {{ form.gender }}
        {% if form.gender.errors %}
            {% for error in form.gender.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="form-group">
        <label for="id_parent_phone">부모님 전화번호:</label>
        {{ form.parent_phone }}
        {% if form.parent_phone.errors %}
            {% for error in form.parent_phone.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="form-group">
        <label for="id_first_class_date">첫수업 날짜:</label>
        {{ form.first_class_date }}
        {% if form.first_class_date.errors %}
            {% for error in form.first_class_date.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="form-group">
        <label for="id_quit_date">그만 둔 날짜:</label>
        {{ form.quit_date }}
        {% if form.quit_date.errors %}
            {% for error in form.quit_date.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="form-group">
        <label for="id_etc">기타:</label>
        {{ form.etc }}
        {% if form.etc.errors %}
            {% for error in form.etc.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="form-group">
        <label for="id_personal_file">개인 파일:</label>
        {{ form.personal_file }}
        {% if form.personal_file.errors %}
            {% for error in form.personal_file.errors %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        {% endif %}
    </div>

    <button type="submit" class="btn btn-primary">등록</button>

    {% if success %}
        <div class="alert alert-success">
            학생 등록이 완료되었습니다. 학생 고유번호는 {{ object.student_id }} 입니다. 
        </div>
    {% endif %}

</form>

{% endblock %}
