{% extends 'bookstore/base_bookstore.html' %}

{% load humanize %}

{% block bookstore_content %}
<div class="container mx-auto px-4">
    <h1 class="text-2xl font-bold mb-4">도서 반품 목록</h1>

    <div class="content-card">
        <div class="card-header">반품 목록</div>
        <div class="card-body overflow-x-auto">
            <table class="content-table">
                <thead>
                    <tr>
                        <th class="text-left">반품 날짜</th>
                        <th class="text-left">도서명</th>
                        <th class="text-right">반품 수량</th>
                    </tr>
                </thead>
                <tbody>
                    {% for return in return_list %}
                    <tr class="hover:bg-gray-50">
                        <td class="text-left">{{ return.return_date|date:"Y년 m월 d일" }}</td>
                        <td class="text-left">{{ return.book_stock.book.name }}</td>
                        <td class="text-right">{{ return.quantity }}권</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3" class="text-center">반품된 도서가 없습니다.</td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% if return_list %}
                <tfoot>
                    <tr class="bg-gray-50 font-medium">
                        <td colspan="2" class="text-right">총 반품 수량:</td>
                        <td class="text-right">{{ total_returned }}권</td>
                    </tr>
                </tfoot>
                {% endif %}
            </table>
        </div>
    </div>
</div>
{% endblock %}